* {
  box-sizing: border-box;
}

.list-item {
  margin: 10px !important;
  width: 94% !important;
  text-transform: uppercase;
  color: black;
  font-family: 'Montserat';
  font-size: '20px';
  font-weight: bolder;
  background-color: white !important;
  border-radius: 50px;
  box-shadow: 0 2px 2px #888888;
}

.list-arrow-forward {
  color: #5E56E7;
}
